*{
    margin:0;
    padding:0;
}
body{
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    line-height: 1.9em;
    background:gray;
}
h1{
    text-align: center;
    line-height: 1.2em;
    font-size: 40px;
    color:blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 600;
}
p{
    text-align: center;
}
#switcher{
    list-style: none;
    margin:0;
    padding: 0;
    overflow: hidden;
    justify-content: center;
    display: flex;
}
#switcher li {
    float:left;
    height:50px;
    width:50px;
    margin:0 15px 15px 0;
    border-radius: 30px;
    border:3px solid black;
    cursor: pointer;
    
}
#switcher li:hover{
    box-shadow: 1px 1px 1px 3px;
}
#graybutton{
    background: gray;
}
#mountain{
    background: url('./img/landscape-tree-nature-forest-wilderness-mountain-547383-pxhere.com.jpg');
    background-repeat: none;
    background-position:center;
    background-size: cover;
}
#skybackground{
    background: url('./img/beach-landscape-sea-coast-nature-sand-1033649-pxhere.com.jpg');
    background-repeat: none;
    background-position:center;
    background-size: cover;
}
#techbuton{
    background: url('./img/technology-star-vehicle-space-float-moon-1172923-pxhere.com.jpg');
    background-repeat: none;
    background-position:center;
    background-size: cover;
}
#seabutton{
    background: url('./img/landscape-sea-nature-ocean-wilderness-light-1071666-pxhere.com.jpg');
    background-repeat: none;
    background-position:center;
    background-size: cover;
}
#flawerbuton{
    
    background: url('./img/blossom-plant-flower-purple-petal-floral-991377-pxhere.com.jpg');
    background-repeat: none;
    background-position:center;
    background-size: cover;
}
#treebuton{    
    background: url('./img/tree-nature-forest-track-railway-railroad-99262-pxhere.com.jpg');
    background-repeat: none;
    background-position:center;
    background-size: cover;
}
#leafbuton{    
    background: url('./img/structure-leaf-flower-petal-orange-line-1086763-pxhere.com.jpg');
    background-repeat: none;
    background-position:center;
    background-size: cover;
}