*{
    margin:0%;
    padding: 0%;
}
.head-cls{
    height:100px;
    width: 100%;
    background-color: blue;
    justify-content: center;
    display: flex;
}
.head1{
    width: 20%;
    background-color: red;
}
.head2{
    width: 80%;
    background-color: green;
    justify-content: center;
    display: flex;
}
h1{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
    margin-top: 20PX;

}
.conatin-cover{
    height: 400px;
    background-image: url('./');
}
