	/* CSS Code */

	*{
		margin:0%;
		padding: 0%;
	}
	body{
		background-image: url('./img/img1.jpg');
		background-repeat: no-repeat;
		background-position: center;
	}
	/* Heading */
	h1 {
		color: red;
		font-size: 45px;
	}

	/* 3*3 Grid */
	#b1, #b2, #b3, #b4, #b5,
	#b6, #b7, #b8, #b9 {
		width: 80px;
		height: 52px;
		margin: auto;
		border: 1px solid gray;
		border-radius: 6px;
		font-size: 30px;
		text-align: center;
		color:blue;
	}

	/* Reset Button */
	#but {
		box-sizing: border-box;
		
		border: 1px solid blue;
		margin: auto;
		border-radius: 4px;
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;

		background-color: blue;
		color: white;
		font-size: 20px;
		cursor: pointer;
		padding:10px 20px 10px 20px;
	}
	#but:hover{
		background-color: red;
		color:blue;
		border-color: blue;
	}
	/* Player turn space */
	#print {
		font-family: Verdana,Geneva, Tahoma, sans-serif;
		font-weight: 500;
		color: red;
		font-size: 25px;
	}

	/* Main Container */
	#main {
		text-align: center;
	}

	/* Game Instruction Text */
	#ins {
		font-family: Verdana,
			Geneva, Tahoma, sans-serif;
			
		color: blue;
		font-size: 17px;
	}
	p b {
		color:red;
	}